h1,
h2,
h3,
p {
  margin-bottom: 0px;
  margin-top: 0px;
} // tengo que eliminar los margin top y bottom (que no sé de donde vienen), y los line-height del reset para que pueda introducir las medidas exactas de separación que marca zeplin.

// TYPOGRAPHIES

h1 {
  color: $color-light;
  font-family: $font-primary;
  font-size: 42px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    font-size: 80px;
    line-height: 106px;
  }

  @include desktop {
    font-size: 100px;
    line-height: 132px;
  }
}

h2 {
  color: $color-dark;
  font-family: $font-primary;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: capitalize;

  @include tablet {
    font-size: 26px;
    line-height: 45px;
  }

  @include desktop {
    font-size: 32px;
  }
}

h3 {
  color: $color-dark;
  font-family: $font-primary;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  @include tablet {
    font-size: 24px;
  }
}

p {
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  @include tablet {
    font-size: 20px;
  }

  @include desktop {
    font-size: 20px;
  }
}
