<footer class="footer">
  <div class="footerContainer wrapper">
    <a class="footerContainer__btn" href="#topOfPage" title="go to home">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="row icon of footer button"
      />
    </a>
    <div class="footerContainer__content">
      <nav class="footerContainer__content--mainNav">
        <ul>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to articles">
              articles</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to books"
              >books</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to events"
              >events</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to reasons"
              >reasons</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to reasons"
              >tips</a
            >
          </li>
        </ul>
      </nav>

      <nav class="footerContainer__content--SMNav">
        <ul>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to twitter"
              >twitter</a
            >
          </li>
          <li>
            <a href="https://adalab.es/" target="_blank" title="go to instagram"
              >instagram</a
            >
          </li>
          <li>
            <a
              href="https://adalab.es/"
              target="_blank"
              title="go to mastodon.social"
              >mastodon.social</a
            >
          </li>
        </ul>
      </nav>
      <div class="footerContainer__content--copy">
        <span>© 2017</span>
        <span>we<i class="heart"> ❤︎ </i>components</span>
      </div>
    </div>
  </div>
</footer>
