<main class="main">
  <section class="hero">
    <div class="heroContainer extraWrapper">
      <h1 class="heroContainer__title">
        <span>anonymous</span>
        <span>proxy</span>
      </h1>
      <p class="heroContainer__text">Earum hic culpa excepturi quia quas.</p>
      <div class="heroContainer__btn">
        <a href="" title="go to reasons section">
          <img
            src="./assets/images/ico-scroll-down.svg"
            alt="scroll down icon"
          />
        </a>
      </div>
    </div>
  </section>
  <section class="looking">
    <div class="lookingContainer extraWrapper">
      <p class="lookingContainer__pretitle">insomnia tips</p>
      <h2 class="lookingContainer__title">looking through a window</h2>
      <p class="lookingContainer__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
        voluptas asperiores dolores officia. Recusandae quisquam commodi omnis
        exercitationem ratione pariatur atque? Id assumenda illum ipsam
        dignissimos, rerum odit eaque nemo.
      </p>
      <div class="lookingContainer__btn">
        <a href="#" title="go to looking through a window content">go</a>
      </div>
    </div>
  </section>
  <section class="reasons">
    <div class="reasonsContainer wrapper">
      <h2 class="reasonsContainer__title">3 reasons to purchase</h2>

      <article class="reasonsContainer__article">
        <h3 class="reasonsContainer__article--secondaryTitle">
          article title 1
        </h3>
        <p class="reasonsContainer__article--text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </article>

      <article class="reasonsContainer__article">
        <h3 class="reasonsContainer__article--secondaryTitle">
          article title 2
        </h3>
        <p class="reasonsContainer__article--text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </article>

      <article class="reasonsContainer__article">
        <h3 class="reasonsContainer__article--secondaryTitle">
          article title 3
        </h3>
        <p class="reasonsContainer__article--text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </article>

      <div class="reasonsContainer__btn">
        <a href="#" title="go to more reasons">more reasons</a>
      </div>
    </div>
  </section>
</main>
