<main class="main">
  <section class="hero">
    <h1 class="hero__title">
      <span>anonymous</span>
      <span>proxy</span>
    </h1>
    <p class="text">Earum hic culpa excepturi quia quas.</p>
    <div class="hero__btn">
      <a href="" title="go to reasons section">
        <img
          src="../assets/images/ico-scroll-down.svg"
          alt="scroll down icon"
        />
      </a>
    </div>
  </section>
  <section class="looking">
    <p class="looking__pretitle">insomnia tips</p>
    <h2 class="looking__title">looking through a window</h2>
    <p class="looking__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio
      voluptas asperiores dolores officia. Recusandae quisquam commodi omnis
      exercitationem ratione pariatur atque? Id assumenda illum ipsam
      dignissimos, rerum odit eaque nemo.
    </p>
    <a
      class="looking__btn"
      href="#"
      title="go to looking through a window content"
      >go</a
    >
  </section>
  <section class="reasons">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <article class="reasons__article">
      <h3 class="reasons__article--secondaryTitle">article title</h3>
      <p class="reasons__article--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <article class="reasons__article">
      <h3 class="reasons__article--secondaryTitle">article title</h3>
      <p class="reasons__article--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <article class="reasons__article">
      <h3 class="reasons__article--secondaryTitle">article title</h3>
      <p class="reasons__article--text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </article>
    <a class="reasons__btn" href="#" title="go to more reasons">more reasons</a>
  </section>
</main>
