<main class="main">
  <section class="hero">
    <h1 class="hero__title">
      <span>anonymous</span>
      <span>proxy</span>
    </h1>
    <p>Earum hic culpa excepturi quia quas quisquam.</p>
    <div class="hero__scrollDown">
      <a href="" title="go to reasons section">
        <img
          src="../assets/images/ico-scroll-down.svg"
          alt="scroll down icon"
        />
      </a>
    </div>
  </section>
  <section class="looking"></section>
  <section class="reasons"></section>
</main>
