// MEDIAQUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

// ===== BUTTONS: STYLES AND ANIMATIONS =====

// TEXT BUTTONS

@mixin textButtons {
  height: 45px;
  border-radius: 22.5px;
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  line-height: 45px;
}

// ICON BUTTONS
@mixin iconButtons {
  background-color: $color-light;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  box-shadow: 0 2px 4px rgba($color-dark, 0.5);
}

// TEXT BUTTON TRANSITIONS

// @mixin txtButtonTransition {
//   &:hover {
//     color: $color-primary-light;
//     border: 2px solid $color-primary-light;
//     background-color: $color-primary;
//     &:active {
//       color: $color-primary;
//       border: 2px solid $color-primary;
//       background-color: $color-primary-light;
//     }
//   }
// }

// ICON BUTTON ANIMATIONS

@mixin iconButtonAnimation {
  animation-name: color-change;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation: color-change 3s linear infinite alternate both;

  @keyframes color-change {
    0% {
      background-color: $color-light;
    }

    100% {
      background-color: $color-secondary-S50;
    }
  }

  @keyframes color-change {
    0% {
      background-color: $color-light;
    }

    100% {
      background-color: $color-secondary-S50;
    }
  }

  &:hover {
    animation: border-change 1s linear infinite alternate both;
    animation: border-change 1s linear infinite alternate both;

    @keyframes border-change {
      0% {
        border-top-right-radius: 35%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 45%;
        border-top-left-radius: 50%;
      }

      100% {
        border-bottom-right-radius: 50%;
        border-top-left-radius: 45%;
        border-bottom-right-radius: 40%;
        border-top-left-radius: 35%;
      }
    }
    @keyframes border-change {
      0% {
        border-top-right-radius: 35%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 45%;
        border-top-left-radius: 50%;
      }

      100% {
        border-bottom-right-radius: 50%;
        border-top-left-radius: 45%;
        border-bottom-right-radius: 40%;
        border-top-left-radius: 35%;
      }
    }
  }

  &:active {
    box-shadow: 0 2px 10px rgba($color-secondary, 0.5);
  }
}
