// MEDIAQUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

// TEXT BUTTONS
@mixin textButtons {
  height: 45px;
  border-radius: 22.5px;
  font-family: $font-secondary;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  // alineación de <a> dentro de su div que lo contiene
  text-align: center;
  line-height: 45px;
}

// ICON BUTTONS
@mixin iconButtons {
  display: inline-block;
  background-color: $color-light;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  box-shadow: 0 2px 4px rgba($color-dark, 0.5);
}

// NAV FONT

@mixin navFont {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
