// MEDIAQUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

// TEXT BUTTONS
@mixin textButtons {
  height: 45px;
  border-radius: 22.5px;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 2.25px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}
