.header {
  position: fixed;
  width: 100%;
}

.headerContainer {
  &__menuBox {
    background-color: $color-primary-medium;
    height: 44px;
    width: 44px;
    text-align: center;

    & a {
      line-height: 44px;
    }
  }
}
