// SECTION HERO

.hero {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $color-light;
  padding-top: 284px;
  padding-bottom: 53px;

  &__title {
    @include heroAnimation;

    & span {
      display: block;
    }
  }

  &__text {
    text-align: center;
    margin-top: 10px;
  }
  &__btn {
    @include iconButtons;
    margin-top: 45px;
    @include iconButtonAnimation;

    & img {
      height: 12px;
      transform: translateY(12%);
    }
  }
}

// SECTION LOOKING

.looking {
  background-color: $color-light;
}

.lookingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 45px;

  &__pretitle {
    color: $color-primary-light;
    text-transform: capitalize;
    margin-bottom: 1px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__btn {
    @include textButtons;
    background-color: $color-light;
    width: 76px;
    color: $color-secondary;
    border: 2px solid $color-secondary;
    &:hover {
      color: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
    &:active {
      box-shadow: 0 2px 10px rgba($color-secondary, 0.5);
    }
  }
}

// SECTION REASOSNS

.reasons {
  background-color: $color-primary-extralight;
}
.reasonsContainer {
  padding-top: 30px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  grid-template-rows: repeat (5, 1fr);
  grid-row-gap: 45px;
  justify-items: center;

  @include tablet {
    grid-column-gap: 30px;
  }

  @include desktop {
    padding-top: 60px;
  }

  &__title {
    @include tablet {
      grid-column: span 3;
    }
  }

  &__article {
    display: inline-block;
    text-align: center;

    @include tablet {
      grid-column: span 1;

      &--secondaryTitle {
        margin-bottom: 14px;
      }
    }
  }

  &__btn {
    @include textButtons;
    background-color: $color-secondary;
    color: $color-light;
    width: 184px;

    &:hover {
      background-color: $color-primary-light;
    }
    &:active {
      box-shadow: 0 2px 10px rgba($color-secondary, 0.5);
    }

    @include tablet {
      grid-column: span 3;
      margin-top: 15px; // We already have 45 px, defined with 'grid-row-gap' property in '.reasonsContainer' class. So we add 15 px to add up to a total of 60 px, as required in the provided design guide.
    }
  }
}
