header,
main,
footer {
  border: 1px solid red;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 0 15px;

  @include tablet {
    padding: 0 39px;
  }

  @include desktop {
    padding: 0 85px;
  }

  // hero and Looking section have padding: 0 275px; (275=85+190)
}
