header,
main,
footer {
  border: 1px solid red;
}

.wrapper {
  border: dotted 3px yellow;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include tablet {
    padding-left: 39px;
    padding-right: 39px;
  }

  @include desktop {
    padding-left: 85px;
    padding-right: 85px;
  }
}

// MAIN: hero and Looking sections have different padding wrapper
.extraWrapper {
  border: dotted 3px yellow;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include tablet {
    padding-left: 39px;
    padding-right: 39px;
  }

  @include desktop {
    border: dotted 3px cyan;
    padding-left: 275px;
    padding-right: 275px;
  }
}
